use std::io::{Cursor, Read, Result, Error, ErrorKind};

pub fn tdf_name(tdf_id: &u16) -> String
{
    match tdf_id {
{% for tdf_id, info in definitions.items() %}
        {{ tdf_id }} => String::from("{{ info['name'] }}"),
{% endfor %}
        _ => format!("{}", tdf_id),
    }
}

pub fn vla_bytes_remaining(cursor: &mut Cursor<&[u8]>, cursor_start: u64, size: u8) -> Result<usize>
{
    let cursor_current = cursor.position();
    let cursor_read = cursor_current - cursor_start;
    if cursor_read > size as u64 {
        return Result::Err(Error::new(
            ErrorKind::InvalidData,
            "Insufficient data remaining",
        ));
    }
    let bytes_remaining = size as u64 - cursor_read;

    Ok(bytes_remaining as usize)
}

pub fn tdf_field_read_string(cursor: &mut Cursor<&[u8]>, cursor_start: u64, num: u8, size: u8) ->  Result<Vec<u8>>
{
    let string_length = match num {
        0 => vla_bytes_remaining(cursor, cursor_start, size)?,
        _ => num as usize,
    };

    let mut buf = vec![0u8; string_length];
    cursor.read_exact(&mut buf)?;

    Ok(buf)
}

pub fn tdf_field_read_vla(cursor: &mut Cursor<&[u8]>, cursor_start: u64, size: u8) ->  Result<Vec<u8>>
{
    let bytes_remaining = vla_bytes_remaining(cursor, cursor_start, size)?;
    let mut buf = vec![0u8; bytes_remaining];

    cursor.read_exact(&mut buf)?;
    Ok(buf)
}
